# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/css/main.css
public/css/toastify-custom.css
public/json/Fotos.json
public/json/Propuestas.json
public/json/RedesSociales.json
public/json/Videos.json
src/components/Banner.jsx
src/components/Media.jsx
src/components/Propuestas.jsx
src/components/Suscribete.jsx
src/css/main.css
