:root{
    --colorRosadoPuro: #ed00b7;
    --colorRosadoSuave: rgb(244, 177, 228);
    --colorAzulPuro: #1c2545;
    --verdeOscuro: #07c73d;
}

html{
    scroll-behavior: smooth;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C2545; /* Establece el color de fondo para toda la página */
    color: #F8F9FA; /* Establece el color de texto predeterminado */
}

.container {
    max-width: 1200px; /* Limita el ancho máximo de la página */
    width: 100%;
    padding: 20px; /* Agrega relleno para separar el contenido de los bordes */
    text-align: center; /* Centra el contenido horizontalmente */
}
/* Estilos de la barra de navegación */
.navbar {
    top: 0;
    z-index: 1;
    background-color: #1C2545; /* Color de fondo */
    color: #F8F9FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho de la ventana */
    height: 80px;
    position: fixed;
}

/* Ajusta el ancho del logotipo si es necesario */
.navbar-logo {
    font-size: 40px;
    font-weight: 700;
    margin-left: 3%;
    text-decoration: none;
    color: white !important;
    /* Otros estilos para el logotipo */
}

/* Ajusta el ancho y el espacio entre los enlaces si es necesario */
.navbar-links {
    width: 35%;
    margin: 0 2%;
    display: flex;
    gap: 10%;
    align-items: center;
    /* Otros estilos para los enlaces */
}
.navbar-link{
    text-decoration: underline var(--colorRosadoSuave) 2px;
    color: white !important;
}
.hamburguer{
    display: none;
    padding: 0 20px;
}
.hamburguer img{
    width: 40px;
    filter: invert()
}


/* Estilos del banner */
/* Estilos para el banner */
.banner {
    width: 100%; /* Ocupa todo el ancho de la página */
    padding: 250px 0 70px 0;
    position: relative;
    background: #F8F9FA; /* Cambia el valor alfa a 0.1 para hacerlo más transparente */
}

/* Estilos para el contenido del banner */
.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12vh;
    width: 100%;
    gap: 4%;
}

.banner-text {
    text-align: center;
    text-align: left;
    width: 30%;
    padding-left: 18%;
}

/* Estilos para la imagen en el banner */
.banner-image{
    width: 48%;
    position: relative;
}
.banner-image img{
    max-width: 600px;
    min-width: 400px;
    height: 60vh;
}
.banner-image img:first-child {
    
    position: absolute;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}
/* .banner-image img:last-child {
    
} */
/* Estilos para el texto en el banner */
/* Estilos para el título en el banner */
.banner-title {
    font-size: 64px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.2;
    color:rgb(22, 22, 22);
    margin-bottom: 10px; /* Reduce el margen inferior del título */
}

/* Estilos para el subtítulo en el banner */
.banner-subtitle {
    font-size: 25px;
    font-family: Inter;
    font-weight: 400;
    color: #6C757D;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif !important;
}

/* Estilos para el botón "Hire Me" en el banner */
.hire-button, .hire-button2 {
    font-family: Arial, Helvetica, sans-serif !important;
    width: 150px;
    height: 44px;
    background: #212529;
    color: #F8F9FA;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

.hire-button2{
    background: #F8F9FA !important;
    color: #212529 !important;
    border: 2px solid #212529;
    border-radius: 10px;
}

/* Acerca de Mí */
.acercaDeMi{
    width: 100%;
    color: black;
    background-color: var(--colorRosadoSuave);
    padding: 12vh 0;
    display: flex;
    justify-content: center;
    align-items: top;
    font-size: 1.5rem;
    gap: 50px;
}
.acercaDeMi h2{
    text-align: center;
    font-size: 3rem;
}
.acercaDeMi div{
    width: 50%;
    text-align: justify;
}

/*  Propuestas  */
.propuestas{
    width: 100%;
    padding: 17vh 0 0vh 0;
    background-color: #F8F9FA;
    color: black;
}
.propuestas h2{
    text-align: center;
    font-size: 3rem;
}
.propuestas p{
    width: 60%;
    margin: 1.5% auto;
    text-align: justify;
    color: #6C757D;
    font-size: 1.4rem;
}
.propuestas .cards {
    padding: 5vh 0 10vh 0;
}
.cards{
    padding: 2vh 0;
    width: 70%;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 30px;
}
.card{
    width: 100%;
    background-image: url('/img/fondos/fondo_banner.jpg');
    color: white;
    border-radius: 10px;
    padding: 15% 0;
    filter: drop-shadow(3px 5px 10px rgba(0, 0, 0, 0.7));
}
.card h3{
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
}
.card section{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img{
    filter: invert();
    max-width: 60px;
    margin: auto;
}
.card p{
    width: 80%;
    margin: auto;
    color: white;
}

/* Media */
.media{
    width: 100%;
    color: black;
    background-color: var(--colorRosadoSuave);
    padding: 12vh 0;
    font-size: 1.5rem;
}
.media h2{
    text-align: center;
    font-size: 3rem;
}
.medias{
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(500px, 3fr));
    gap: 30px;
}
.foto, .video{
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FA;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(95, 95, 95);
}

.foto div, .video div{
    width: 46%;
    margin: auto;
}
.medias img, .medias iframe{
    width: 50%;
    height: 100%;
    max-height: 250px;
    max-width: 400px;
    border-radius: 10px 0 0 10px;
}
.foto div h4, .video div h4{
    font-size: 1.3rem;
}
.foto div p, .video div p{
    font-size: 1.3rem;
}


/*  Suscribete  */
.suscribete{
    width: 100%;
    padding: 15vh 0 10vh 0;
    background-color: #F8F9FA;
    color: black;
    font-size: 1.5rem;
}
.suscribete h2{
    text-align: center;
    width: 40%;
    margin: auto;
    font-size: 3rem;
}
.infoSuscribete{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.infoSuscribete form{
    width: 100%;
}
.infoSuscribete form section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.infoSuscribete label, label input, textarea{
    width: 100%;
    margin: .5% 0;
    border-radius: 2px;
    font-size: 1.3rem;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
}
input[type='submit']{
    font-size: 1.3rem;
    padding: .5% 10%;
    color: white;
    background-color: var(--colorAzulPuro);
    border-radius: 5px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}
.social div section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.social div section img{
    max-width: 45px;
    min-width: 45px;
    filter: drop-shadow(0px 0px 10px rgba(118, 118, 118, 0.5));
}

.divSocial{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
}

/* ANIMACIONES */

.Toastify__toast {
    background: #2196f3;
    color: #fff;
    border-radius: 8px;
  }
  
  /* Estilo para el mensaje emergente centrado */
  .Toastify__toast-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.Burger{
    display: none;
  }
  #btnBurger{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    z-index: 11;
  }
  #btnBurger::before{
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    transition: .5s;
    transform: translateY(-13px);
    box-shadow: 0 13px 0 #fff;
  }
  #btnBurger::after{
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    transition: .5s;
    transform: translateY(13px);
  }
  
  #btnBurger.active::before{
    background-color: var(--colorRosadoSuave);
    box-shadow: 0 13px 0 var(--colorRosadoSuave);
  }
  #btnBurger.active::after{
    background-color: var(--colorRosadoSuave);
  }
  #btnBurger img{
    filter: invert();
  }

  /* #slideBurgerOculto{
    opacity: 0;
    display: none;
  } */
  
  #slideBurger{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 35%;
    height: 100vh;
    background-color: var(--colorAzulPuro);
    color: #fff;
    border-left: 3px solid var(--colorRosadoSuave);
  }
  #slideBurger a{
    color: #fff;
    text-decoration: none;
  }
  .hideBurger{
    transition: .5s;
    display: none !important;
  }
  .underline {
    display: inline-block;
    position: relative;
  }
  .underline:after {
    position: absolute;
    width: 100%;
    content: "";
    height: 4px;
    bottom: 0px;
    left: 0px;
    background-color: var(--colorRosadoSuave);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
    border-radius: 10px;
  }
  .underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/* RESPONSIVE */

@media only screen and (max-width: 1425px) {
    .banner-image img{
        max-width: 450px;
        height: 450px;
    }
}

@media only screen and (max-width: 1250px) {
    .acercaDeMi {
        display: block;
        margin: auto;
        text-align: center;
    }
    .acercaDeMi h2{
        width: 60%;
        margin: auto;
    }
    .acercaDeMi div{
        width: 80%;
        margin: auto;
    }
    .divBotones{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}

@media only screen and (max-width: 1170px) {
    .navbar-links{
        display: none;
    }
    .Burger {
        display: block;
      }
    .banner-content{
        width: 100% !important;
    }
    .banner-text{
        width: 45%;
        padding-left: 5%;
    }
    .banner-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vh !important;
    }
    .banner-image img{
        margin-top: 10vh;
        max-width: 450px;
        max-height: 450px;
        margin: 0 !important;
        padding: 0;
    }
    .infoSuscribete{
        display: block;
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .infoSuscribete form{
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .banner{
        padding-bottom: 10vh; 
    }
    .banner-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .banner-text{
        width: 80%;
        max-width: 80%;
        margin: 0%;
        text-align: center;
    }
    .banner-image{
        margin-top: -5%;
        width: 100%;
    }
    .banner-image img{
        width: 60%;
        margin-left: 20%;
    }
}

@media only screen and (max-width: 700px) {
    .medias {
        width: 90%;
        margin-bottom: 30px;
    }
    #slideBurger{
        width: 45%;
    }
}



@media screen and (max-width: 768px) {
    /* .navbar {
        padding: 10px;
    } */

    .navbar-logo {
        font-size: 30px;
    }

    .navbar-link {
        font-size: 16px;
        margin-right: 10px;
    }
}


@media only screen and (max-width: 700px) {
    .medias{
        grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    }
}


/* Alerta */
/* Alerta */
#alerta{
    display: none;
    position: fixed;
    right: 0px;
    bottom: 25px;
    width: 350px;
    height: auto;
    padding: 10px 15px;
    font-size: 1.3rem;
    border-radius: 10px 0 0 10px;
    z-index: 11;
  }
  .mostrarAlerta{
    display: block;
    transition: .5s ease;
    animation: mostrarAlert 6s ease-in-out infinite;
  }
  @keyframes mostrarAlert {
    0%{ opacity: 0; }
    10%, 90%{ opacity: 1; }
    100%{ opacity: 0; }
  }
  .alertaSuccess{
    border: 1px solid #158535;
    background-color: #c0f6cf;
    color: #158535;
  }
  .alertaError{
    border: 1px solid #851515;
    background-color: #f6c0c0;
    color: #851515;
  }


/* Login */
.login{
    width: 60% !important;
    padding: 10%;
    margin: 12% 10%;
    background-color: #fff;
    color: var(--colorAzulPuro);
    box-shadow: 2px 2px 10px rgb(56, 55, 55);
    border-radius: 5px;
}
.login form label{
    font-size: 1.3rem;
}
.login form input{
    margin-bottom: 20px;
}